<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dedunu</title>
    <meta name="description" content="Dedunu Group invests in capital markets and sustainable businesses.">
    <link rel="stylesheet" href="{{ '/assets/home/css/main.css' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/assets/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header class="site-masthead">
      <br/>
      <br/>
      <img src="/assets/logo.svg" width="163px" height="120px" />
      <br />
      <h2 style="font-size: 18px;">
        We invest in sustainable businesses. 
      </h2>
      <br />
      <h2 style="font-size: 18px;">
        Dedunu Capital (Private) Limited is registered in Sri Lanka (Reg No. PV00236498).
      </h2>
      <br />
      <h2 style="font-size: 18px;">
        Dedunu Equity OÜ is registered in Estonia (Reg No. 16385189).
      </h2>
      <br />
      <h2 style="font-size: 18px;">
        Yaco (Pvt) Ltd is a subsidiary of Dedunu Capital (Private) Limited.
      </h2>
      <br />
    </header>
    <br />
  </nav>
  </body>
</html>
