
<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dedunu Capital (Private) Limited is registered in Sri Lanka (Reg No. PV00236498).">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/assets/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>DEDUNU CAPITAL</title>

    <link rel="stylesheet" href="https://yaco.lk/assets/css/main.css?1659156781464513614">

  <body style="background-color:#000000; background-image: url('/assets/home/images/bg.jpg'); background-attachment: fixed; min-height: 100%; background-repeat: no-repeat; background-position: center; background-size: cover;">
      <header class="site-masthead">
  
    
      <h1 style="color:#ffffff;text-shadow: 2px 2px 4px #000000;">
        DEDUNU CAPITAL
      </h1>
    
    
      <h2 style="color:#ffffff;text-shadow: 2px 2px 4px #000000;">
        An investment company.
      </h2>
    
    <br />
    <p style="color:#f2f2f2;font-size:14px;text-shadow: 2px 2px 4px #000000;">DEDUNU CAPITAL (PRIVATE) LIMITED</p>
    <p style="color:#f2f2f2;font-size:12px;text-shadow: 2px 2px 4px #000000;">Email: <a href="mailto:hello@yaco.lk" style="color:#e6e6e6;font-size:12px;" target="_blank">hello[at]yaco[dot]lk</a></p>
    <p style="color:#f2f2f2;font-size:12px;text-shadow: 2px 2px 4px #000000;">Dedunu Capital (Private) Limited is registered in Sri Lanka (Reg No. PV00236498). Dedunu Equity OÜ is registered in Estonia (Reg No. 16385189). <a href="https://yaco.lk" style="color:#e6e6e6;font-size:12px;" target="_blank">Yaco (Pvt) Ltd</a> is a subsidiary of Dedunu Capital (Private) Limited.</p>
    <br />  
    </header>

  </body>
</html>
