<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enfys</title>
    {% if site.description %}<meta name="description" content="{{ site.description }}">{% endif %}  
    <link rel="stylesheet" href="{{ '/assets/home/css/main.css' | absolute_url }}">
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="favicon.png">
  </head>
  <body>
    {% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
      {% include menu.html %}
    {% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
      {% include back-link.html %}
    {% else %}
      <header class="site-masthead">
        {% if site.title %}
          <h1>
            {{ site.title }}
          </h1>
        {% endif %}
        {% if site.title %}
          <h2>
            {{ site.description }}
          </h2>
        {% endif %}
      </header>
    {% endif %}

    <h1 class="divided"></h1>

    <center><a href="mailto:contact@enfys.lk" style="color:black;">contact[at]enfys[dot]lk</a></center>
  </body>
</html>
